.Section_Home {
    background: #F5DB13;
    min-height: auto;
    display: flex;
    justify-content: end;
    align-items: center;
    height: auto;
    min-height: var(100vh - 70px);

}

.article_Content {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-left: 85px;
}

.title {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 84px;
    letter-spacing: 4px;
    width: 400px;
    margin-top: -115px;

    color: #000000;
}

.title_two {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    width: 500px;
    margin-top: -120px;

    color: #000000;
}

.button {
    background: #73D677;
    box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;

    width: 231px;
    height: 66px;
    margin-top: -90px;

    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #212121;
}

.img {
    width: auto;
    height: 685px;

}