.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 80%;
}

.section_Content {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.paragraph {
    font-family: 'karla';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    color: #212121;
}

.paragraph_two {
    font-family: 'karla';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    color: #212121;
}